
.header{
  color: #67d146;
}

.main{
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 5vh;
}

.button{
  width: 50dvw;
  height: 7dvh;
  color: #fff;
  background-color: #67d146;
  display: flex;
  place-content: center;
  place-items: center;
  -webkit-text-stroke-color: #67d146;
  font-size: 30px;
  box-shadow: 10px 10px 26px -7px rgba(150,150,150,0.75);
  -webkit-box-shadow: 10px 10px 26px -7px rgba(150,150,150,0.75);
  -moz-box-shadow: 10px 10px 26px -7px rgba(150,150,150,0.75);
  transition: all 100ms ease-in-out ;
}

.image{
  animation: example 2s ease-in-out infinite;
}

@keyframes example {
  0% {transform: rotate(-10deg);}
  50% {transform: rotate(10deg)}
  100% {transform: rotate(-10deg)}
}


.button:active{
  transform: scale(0.9);
}

.mainPopUp{
  width: 85dvw;
  height: 95dvh;
  background-color: #fff;
  box-shadow: 10px 10px 26px -7px rgba(150,150,150,0.75);
  -webkit-box-shadow: 10px 10px 26px -7px rgba(150,150,150,0.75);
  -moz-box-shadow: 10px 10px 26px -7px rgba(150,150,150,0.75);
  outline: 1px solid #00000023;
  position: absolute;
  border-radius: 15px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  place-content: space-around;
  place-items: center;
}

.imagePopUp{
  border-radius: 15px;
  box-shadow: 10px 10px 26px -7px rgba(150,150,150,0.75);
  -webkit-box-shadow: 10px 10px 26px -7px rgba(150,150,150,0.75);
  -moz-box-shadow: 10px 10px 26px -7px rgba(150,150,150,0.75);
}

.textPopUp{
  color: #67d146;
  font-size: 22px;
  text-align: center;
}
